 <header>
    <nav class="navbar">
      <div class="">
        <a class="" href="/">
        <strong>Easy Scheduler</strong></a>
      </div>

      <div id="" class="">
        <div class="">
          <div class="">
            <div class="buttons">
            {{!-- {{#if loggedIn}} --}}
              <a class="" href="/">Home</a>
              <a class="" href="/schedule">Scheduling</a>
              <a class="" id="logout">Logout</a>
            {{!-- {{else}} --}}
              <a class="" href="/login">Login</a>
            {{!-- {{/if}} --}}
            </div>
          </div>
         </div>
       </div>
    </nav>
  </header>