<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easy Schedule</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <header>
    <nav class="navbar">
      <div class="">
        <a class="" href="/">
        <strong>Easy Scheduler</strong></a>
      </div>

      <div id="" class="">
        <div class="">
          <div class="">
            <div class="buttons">
            {{!-- {{#if loggedIn}} --}}
              <a class="" href="/">Home</a>
              <a class="" href="/scheduling">Scheduling</a>
              <a class="" id="logout">Logout</a>
            {{!-- {{else}} --}}
              <a class="" href="/login">Login</a>
            {{!-- {{/if}} --}}
            </div>
          </div>
         </div>
       </div>
    </nav>
  </header>

<main>
  {{!-- {{{ body }}} --}}
</main>

<footer class="footer">
  <div class="">
    <p>
      <strong>&copy;2021</strong> Footer goes here!
    </p>
  </div>
</footer>

  {{!-- {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}} --}}
  
</body>
</html>