<h1>HOMEPAGE</h1>

              <h1>Appointments for <span id="back-date"></span></h1>
              <div class="container">
                <div><p>
                <span class="Appointments_time">8:00AM</span> |
                <span class="Appointments_type">X-Ray</span> |
                <span class="Appointments_text">Broken leg X-Ray</span>
              </p>
              </div>
              </div>
              <div class="container">
                <div><p>
                <span class="Appointments_time">1:15PM</span> |
                <span class="Appointments_type">Prep</span> |
                <span class="Appointments_text">Prep for Surgery</span>
              </p>
              </div>
              </div>
              <div class="container">
                <div><p>
                <span class="Appointments_time">5:00PM</span> |
                <span class="Appointments_type">Surgery</span> |
                <span class="Appointments_text">Surgery to fix broken leg</span>
              </p>
              </div>
              </div>