<div class="index-landing-page">
  

<div class="landing-page-wrap">
<div class="headline-cta">
<h2>*Insert Tagline Here*</h2>
  
  <p> This is the index page. 
  It is the pretty landing page. How about the background is a pic of someone scheduling?
  Let's tell users about our cool app in a paragraph here!</p>
</div>

<div class="display-features">
  <h2>*App Features*</h2>
  <p> Here are some icons and text showing off our app's cool features! 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

</div>

</div>
