<div class="index-landing-page">
  

  <section class="landing-page-wrap">
    <div class="headline-cta">
    <h2>*Insert Tagline Here*</h2>
      <p> This is the index page. 
      It is the pretty landing page. How about the background is a pic of someone scheduling?
      Let's tell users about our cool app in a paragraph here!</p>
    </div>

  <div class="display-features">
      <div>
      <h2>*App Features*</h2>
      <p> Here are some icons and text showing off our app's cool features! 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="feature-card">
      <h3>Save Time</h3>
        <div class="feature">
            <div class="feature-img">
              <img src="../images/icons/save-time.png" alt="" />
            </div>
            <div class="feature-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

   <div class="feature-card">
      <h3>Choose Your Appointment</h3>
        <div class="feature">
            <div class="feature-img">
              <img src="../images/icons/choose-appt.png" alt="" />
            </div>
            <div class="feature-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div class="feature-card">
      <h3>Personalized Homepage</h3>
        <div class="feature">
            <div class="feature-img">
              <img src="../images/icons/personalized.png" alt="" />
            </div>
            <div class="feature-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div class="feature-card">
      <h3>Mobile Friendly</h3>
        <div class="feature">
            <div class="feature-img">
              <img src="../images/icons/mobile-friendly.png" alt="" />
            </div>
            <div class="feature-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div class="feature-card">
      <h3>Safe + Secure</h3>
        <div class="feature">
            <div class="feature-img">
              <img src="../images/icons/secure.png" alt="" />
            </div>
            <div class="feature-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div class="feature-card">
      <h3>Available 24/7</h3>
        <div class="feature">
            <div class="feature-img">
              <img src="../images/icons/24-hour.png" alt="" />
            </div>
            <div class="feature-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>


    </div>

  </div>

</div>
