<div class="index-landing-page">
  <div class="index-card">
    <div class="index-wrap">

      <div class="index-card-header">
        <h2>Your Appointments. Your Way.</h2>
      </div>


      <div class="index-features">


        <div class="feature-card">
          <div class="feature-icon">
            <img src="../images/icons/save-time.png" alt="" />
          </div>
          <h3>Skip the Waiting Room</h3>
        </div>


        <div class="feature-card">
          <div class="feature-icon">
            <img src="../images/icons/choose-appt.png" alt="" />
          </div>
          <h3>Choose your Appointment</h3>
        </div>

        <div class="feature-card">
          <div class="feature-icon">
            <img src="../images/icons/24-hour.png" alt="" />
          </div>
          <h3>Available 24/7</h3>
        </div>


        {{!-- <div class="feature-card">
          <div class="feature-icon">
            <img src="../images/icons/personalized.png" alt="" />
          </div>
          <h3>Personalized Homepage</h3>
        </div>

        <div class="feature-card">
          <div class="feature-icon">
            <img src="../images/icons/mobile-friendly.png" alt="" />
          </div>
          <h3>Mobile Friendly</h3>
        </div>

        <div class="feature-card">
          <div class="feature-icon">
            <img src="../images/icons/secure.png" alt="" />
          </div>
          <h3>Safe + Secure</h3>
        </div> --}}



      </div>

    </div>
  </div>
</div>
