
{{!-- <div>
  <h1>
    I tried to schedule a time to go into my local library, they were fully booked!
  </h1>
</div> --}}

<div class="container">
<div class="login">
  <form action="" class="login-form">
  <div class="">
    <label for="" class="">Username</label>
    <input type="text" class="" />
  </div>
  <div class="">
    <label for="" class="">Password</label>
    <input type="text" class="" />
  </div>
  </form>
</div>
{{!-- 

<div class="sign-up">
  <form action="" class="signup-form">
  <div class="">
    <label for="" class="">Email</label>
    <input type="text" class="" />
  </div>  
  <div class="">
    <label for="" class="">Username</label>
    <input type="text" class="" />
  </div>  
  <div class="">
    <label for="" class="">Password</label>
    <input type="text" class="" />
  </div>
  <div class="">
    <label for="" class="">Admin</label>
    <input type="radio" class="" />
  </div>
  <div class="">
    <button type="button">Sign Up!</button>
  </div>
</form>
</div>
</div>


<script src="/javascript/login.js"></script> --}}