  <body>
    <div class="calendar" id="calendar">
      <div class="container">
        <div
          class="calendar-btn month-btn"
          onclick="$('#months').toggle('fast')"
        >
          <span id="curMonth"></span>
          <div id="months" class="months dropdown"></div>
        </div>

        <div class="calendar-btn modal-btn">
          <div id="myBtn">Choose Appointment</div>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h1>Appointments for <span id="back-date"></span></h1>
              <div class="container">
                <div><p>
                <span class="Appointments_time">9:00AM</span> |
                <span class="Appointments_type">MRI</span> |
                <span class="Appointments_text">MRI with contrast</span>
              </p>
              </div>
              <div><button type="submit">Add</button></div>
              </div>
              <div class="container">
                <div><p>
                <span class="Appointments_time">3:15PM</span> |
                <span class="Appointments_type">Consult</span> |
                <span class="Appointments_text">Talk to the doctor about treatment plan</span>
              </p>
              </div>
              <div><button type="submit">Add</button></div>
              </div>
              <div class="container">
                <div><p>
                <span class="Appointments_time">12:00PM</span> |
                <span class="Appointments_type">Follow Up</span> |
                <span class="Appointments_text">Check up with the doctor post-treatment</post-treatment></span>
              </p>
              </div>
              <div><button type="submit">Add</button></div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="calendar-btn year-btn" onclick="$('#years').toggle('fast')">
          <span id="curYear"></span>
          <div id="years" class="years dropdown"></div>
        </div>
      </div>

      <div class="clear"></div>

      <div class="calendar-dates">
        <div class="days">
          <div class="day label">SUN</div>
          <div class="day label">MON</div>
          <div class="day label">TUE</div>
          <div class="day label">WED</div>
          <div class="day label">THU</div>
          <div class="day label">FRI</div>
          <div class="day label">SAT</div>

          <div class="clear"></div>
        </div>

        <div id="calendarDays" class="days"></div>
      </div>
    </div>
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/scheduling.js"></script>