body {
  background-color: #f7f9fb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.sched-container {
  padding: 2em 0em 0em 5em;
}

.dropbtn {
  background-color: #01497c;
  color: #f7f9fb;
  padding: 10px;
  font-size: 20px;
  border: none;
  margin: 0em 1em 0em 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #01497c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a8d0e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #01497c;
}
.container {
  display: grid;
  margin: 0em 2em 0em 2em;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  height: fit-content;
  position: relative;
  perspective: 1000;
  -webkit-perspective: 1000;
  top: calc(25vh - 100px);
}
.card {
  width: 100%;
  height: 87vw;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s ease;
  cursor: pointer;
}
.back,
.front {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.contentfront {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.contentback {
  width: 100%;
  height: 100%;
  float: left;
  transform: translatez(60px);
  -webkit-transform: translatez(60px);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.back {
  transform: rotateY(180deg);
  background-color: #01497c;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  text-transform: uppercase;
  background-color: #01497c;
  height: 90%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.date {
  height: 100%;
  width: 130px;
  float: right;
  background-color: #fbe8a6;
  border-radius: 0 6px 6px 0;
  text-align: right;
  padding: 10px 3px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.datecont {
  height: 100%;
  transform: translatez(60px) scale(0.9);
  -webkit-transform: translatez(60px) scale(0.9);
}
#date {
  font-size: 50px;
  color: #ecece7;
  font-weight: 500;
  float: left;
}
#day {
  float: left;
  font-size: 14px;
  color: #01497c;
  font-weight: 400;
}
#month {
  float: left;
  font-size: 10px;
  color: #01497c;
  font-weight: 200;
}
.date i {
  color: #ecece7;
  position: absolute;
  bottom: 10px;
  right: 0;
}
.date i:hover {
  color: #01497c;
  transition: 0.3s ease;
}
.month {
  height: 100%;
  width: 270px;
  float: left;
  padding: 20px 30px;
  box-sizing: border-box;
}
.month table {
  width: 100%;
}
.orangeTr {
  color: #fbe8a6;
}
.whiteTr {
  color: #ecece7;
}
.whiteTr th:hover {
  color: #fbe8a6;
  transition: 0.3s ease;
}
.month tr {
  height: 24px;
}
.month th {
  width: 14%;
  font-size: 5vw;
  font-weight: 400;
  padding: 1vw;
}

.flipped {
  transform: rotateY(-180deg);
}
.backcontainer {
  transform-style: preserve-3d;
  width: calc(100% - 60px);
  height: calc(100% - 40px);
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  background-color: #fbe8a6;
  border-radius: 6px;
  padding: 10px 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
